<!DOCTYPE html>
<html>
	<head>
                <title>Truth Table Configuration</title>
	</head>
	<body>
        <form action="" method="post">
                <label for="true symbol">True symbol:</label>
                <input type="text" name="true symbol" label="True symbol" />
                <br />
                <br />
                <label for="false symbol">False symbol:</label>
                <input type="text" name="false symbol" label="False symbol" />
                <br />
                <br />
                <label for="size">Size (2^x):</label>
                <input type="text" name="size" label="size"/>
                <br />
                <br />
                <input type="submit" name="submit_button" value="Show truth table" />
        </form>
        <br />
        <a href="./">Reload Page</a>
	</body>
</html>